@charset "utf-8";
$color:#f10180;
// .productlist {
//     overflow: hidden;
//     margin-top: 50px;
//     box-sizing: border-box;
//     .item {
//         float: left;
//         margin: 30px;
//         width: 300px;
//         transition: all .5s;
//         text-align: center;
//         &:hover {
//             margin-top: 28px;
//             box-shadow: 5px 5px 5px 0 #ccc;
//         }
//         &>a {
//             display: block;
//             .p-img>img {
//                 width: 265px;
//                 height: 265px;
//             }
//             .p-title>a {
//                 color: #000;
//                 font-size: 13px;
//                 font-weight: 600;
//                 &>a:hover {
//                     color: #b4a078;
//                 }
//             }
//             .p-price {
//                 color: #f00;
//             }
//         }
//     }
// }
.product {
    margin: 60px auto;
    width: 1026px;
}

.de-l {
    float: left;
    position: relative;
    .scale {
        width: 322px;
        .pic-s {
            width: 322px;
            height: 420px;
            margin-bottom: 10px;
            border: 1px solid $color;
            position: relative;
            &>img {
                display: block;
                height: 100%;
                width: 100%;
            }
            .small {
                background-color: $color;
                // width: 100px;
                // height: 100px;
                position: absolute;
                top: 0;
                left: 0;
                visibility: hidden;
                cursor: move;
                opacity: .1;
            }
        }
        .iconlist {
            width: 100%;
            height: 58px;
            // position: relative;
            overflow: hidden;
            a {
                display: block;
                width: 25px;
                height: 100%;
                font-size: 40px;
                color: $color;
                background-color: #fff;
                position: absolute;
                top: 50%;
                margin-top: -29px;
                z-index: 10;
                &.left {
                    left: -5px;
                }
                &.right {
                    right: 0;
                }
            }
            .movelist {
                width: 300px;
                margin: 0 25px;
                height: 56px;
                // overflow: hidden;
                ul {
                    position: absolute;
                    top: 0px;
                    left: 33px;
                    height: 56px;
                    li {
                        float: left;
                        margin: 0 13px 5px 0;
                        height: 54px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        &:hover {
                            border: 1px solid $color;
                        }
                        img {
                            width: 54px;
                        }
                    }
                }
            }
        }
    }
    .big-box {
        width: 500px;
        height: 500px;
        border: 1px solid $color;
        position: absolute;
        left: 380px;
        top: 0;
        overflow: hidden;
        visibility: hidden;
        z-index: 9;
        .pic-b {
            // width: 200%;
            // height: 200%;
            // position: relative;
            img {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 200%;
                height: 200%;
            }
        }
    }
}

// .show {
//     display: block!important;
// }
// .hide {
//     display: none;
// }
.de-r {
    width: 600px;
    float: left;
    margin-left: 30px;
    .title {
        font-size: 16px;
        color: #333;
        padding: 20px 0;
        line-height: 2em;
    }
    .price {
        background: url(../img/detail_price_bg_l-hash-8ee789be.png) no-repeat;
        color: #666;
        padding: 30px 0;
        font-size: 16px;
    }
    .choosebtn {
        a {
            display: block;
        }
        margin: 20px;
        .choose-amount {
            position: relative;
            float: left;
            width: 58px;
            height: 45px;
            margin-right: 10px;
            border: 1px solid #ccc;
            input {
                display: block;
                width: 43px;
                height: 42px;
                text-align: center;
                border: none;
                outline: none;
            }
            a {
                text-align: center;
                line-height: 22px;
                color: #666;
                width: 15px;
                height: 22px;
                position: absolute;
                right: 0;
                border-left: 1px solid #ccc;
                background: #f1f1f1;
                border-bottom: 1px solid #ccc;
                &:nth-of-type(1) {
                    top: 0px;
                }
                &:nth-of-type(2) {
                    top: 23px;
                }
            }
        }
        .button-box .ui-btn-large {
            width: 198px;
        }
        button.ui-btn-loading {
            width: 200px;
        }
    }
}

.delaitls {
    text-indent: 2em;
    position: relative;
    h2 {
        box-shadow: 0 0 5px 0 #ccc;
        color: #b4874c;
        padding: 20px 0;
    }
    ul {
        position: absolute;
        top: 72px;
        line-height: 1.7em;
        box-shadow: 0 0 5px 0 #ccc;
        padding: 10px;
        li {
            margin-top: 10px;
        }
    }
}

.iconlist {
    width: 322px;
    height: 58px;
    position: absolute;
    top: 440px;
    overflow: hidden;
    margin-bottom: 20px;
    a {
        display: block;
        width: 25px;
        height: 100%;
        font-size: 40px;
        color: #ccc;
        background-color: #fff;
        position: absolute;
        top: 50%;
        margin-top: -29px;
        z-index: 10;
        &.left {
            left: -5px;
        }
        &.right {
            right: 0;
        }
    }
    .movelist {
        width: 300px;
        margin: 0 25px;
        height: 56px;
        // overflow: hidden;
        ul {
            position: absolute;
            top: 0px;
            left: 33px;
            height: 56px;
            li {
                float: left;
                margin: 0 12px 5px 0;
                height: 54px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                &:hover {
                    border: 1px solid $color;
                    ;
                }
                img {
                    width: 54px;
                }
            }
        }
    }
}

.pop {
    display: none;
    width: 200px;
    height: 200px;
    border: 1px solid $color;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -100px;
    box-shadow: 2px 2px 5px 0 $color;
    text-align: center;
    .close {
        position: absolute;
        right: 8px;
        font-size: 20px;
        color: #f10180;
        cursor: pointer;
    }
    h4 {
        height: 30px;
        color: $color;
        font-size: 18px;
        font-weight: 800;
        margin-top: 20px;
    }
    .gow {
        height: 20px;
        padding: 10px;
        a {
            display: inline-block;
            text-decoration: underline;
            padding: 10px;
        }
    }
    .countdown {
        margin: 10px;
        span {
            color: $color;
        }
    }
}