.footer {
    font: 12px/1.5 tahoma, arial, Hiragino Sans GB, WenQuanYi Micro Hei, \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, sans-serif;
    display: block;
    clear: both;
    overflow: hidden;
    line-height: 22px;
    padding-top: 0;
    border-top: 1px solid #ebebeb;
    background-color: #fcfcfc;
    color: #4d4d4d
}

.footer li {
    list-style: none
}

.footer dd,
.footer dl,
.footer dt {
    margin: 0;
    padding: 0
}

.footer a {
    color: grey;
    text-decoration: none
}

.footer a:hover {
    color: #f10180
}

.footer-inner {
    width: 960px;
    margin: 0 auto;
    overflow: hidden
}

.footer-vip {
    overflow: hidden
}

.footer-vip li {
    float: left
}

.footer-vip i {
    display: block;
    margin-top: 30px;
    margin-right: 28px;
    margin-left: 10px;
    width: 58px;
    height: 75px;
    font-size: 0;
    text-indent: -100%
}

.footer-vip .footer-vip-ico10 {
    margin-right: 0
}

.footer-vip-ico01,
.footer-vip-ico02,
.footer-vip-ico03,
.footer-vip-ico04,
.footer-vip-ico05,
.footer-vip-ico06,
.footer-vip-ico07,
.footer-vip-ico08,
.footer-vip-ico09,
.footer-vip-ico10 {
    background: url(../img/footer_vip_iconsv_0705-hash-728f749a.png) no-repeat 0 0
}

.footer-vip-ico01 {
    background-position: 0 0
}

.footer-vip-ico02 {
    background-position: -80px 0
}

.footer-vip-ico03 {
    background-position: -160px 0
}

.footer-vip-ico04 {
    background-position: -240px 0
}

.footer-vip-ico05 {
    background-position: -320px 0
}

.footer-vip-ico06 {
    background-position: -400px 0
}

.footer-vip-ico07 {
    background-position: -480px 0
}

.footer-vip-ico08 {
    background-position: -560px 0
}

.footer-vip-ico09 {
    background-position: -640px 0
}

.footer-vip-ico10 {
    background-position: -720px 0
}

.footer-list {
    overflow: hidden;
    zoom: 1;
    margin: 37px 0 25px;
    line-height: 20px
}

.footer-list dl {
    float: left;
    width: 145px;
    height: 146px;
    padding-left: 16px;
    border-right: 1px solid #e0e0e0
}

.footer-list .last {
    border-right: 0;
    display: block
}

.footer-list dt {
    margin-bottom: 4px;
    color: #4d4d4d
}

.footer-list dd {
    padding-left: 8px;
    background: url(../img/footer-hash-3de6f1ae.png) no-repeat -6px -494px
}

.footer-list dd:hover {
    background-position: -6px -513px
}

.footer-list .tc {
    padding-left: 0;
    width: 136px;
    text-align: center
}

.footer-list .tc dd {
    background: 0 0;
    padding-left: 0
}

.footer-list .link-anim dd {
    transition: transform ease-out .2s;
    -moz-transition: transform ease-out .2s;
    -webkit-transition: -webkit-transform ease-out .2s;
    -o-transition: transform ease-out .2s
}

.footer-list .link-anim dd:hover {
    -webkit-transform: translateX(2px);
    -ms-transform: translateX(2px);
    transform: translateX(2px)
}

.footer-infor {
    text-align: center;
    color: #fff;
    margin-bottom: 0
}

.footer-infor-link {
    background-color: #d7237e;
    line-height: 30px
}

.footer-infor-link a {
    margin-left: 2px;
    margin-right: 2px;
    color: #fff
}

.footer-infor-link a:hover {
    color: #ccc
}

.footer-infor-txt {
    color: #999;
    margin: 14px 0;
    line-height: 19px
}

.footer-ft {
    padding: 4px 0 4px;
    background-color: #fff
}

.footer-img {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    height: 40px;
    padding: 4px 0 4px 0;
    background-color: #fff
}

.footer-pic {
    margin: 0 auto;
    width: 960px;
    height: 40px;
    text-align: center;
    overflow: hidden
}

.footer-pic-ico01,
.footer-pic-ico02,
.footer-pic-ico03,
.footer-pic-ico04,
.footer-pic-ico05,
.footer-pic-ico06,
.footer-pic-ico07,
.footer-pic-ico08,
.footer-pic-ico09,
.footer-pic-ico10 {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-right: 9px;
    height: 40px;
    background-image: url(../img/footer-hash-3de6f1ae.png);
    background-repeat: no-repeat
}

.footer-pic-ico01 {
    width: 105px;
    background-position: 0 0
}

.footer-pic-ico02 {
    width: 90px;
    background-position: 0 -50px
}

.footer-pic-ico03 {
    width: 90px;
    background-position: 0 -100px
}

.footer-pic-ico04 {
    width: 99px;
    background-position: 0 -150px
}

.footer-pic-ico05 {
    width: 66px;
    background-position: 0 -200px
}

.footer-pic-ico06 {
    width: 70px;
    background-position: 0 -250px
}

.footer-pic-ico07 {
    width: 75px;
    background-position: 0 -300px
}

.footer-pic-ico08 {
    width: 89px;
    background-position: 0 -350px
}

.footer-pic-ico09 {
    width: 76px;
    background-position: 0 -400px
}

.footer-pic-ico10 {
    width: 76px;
    background-position: 0 -450px
}

@media screen and (max-width: 999px) {
    .responsive-common .footer-list {
        margin: 30px -34px 0 0
    }
    .responsive-common .footer-list dl {
        width: 29%;
        height: 166px;
        padding-left: 30px;
        margin-bottom: 30px
    }
    .responsive-common .footer-list dt {
        font-size: 15px;
        color: #4d4d4d
    }
    .responsive-common .footer-list dd {
        background: 0 0;
        padding-left: 0;
        line-height: 24px
    }
    .responsive-common .footer-list a {
        font-size: 14px;
        color: #116fa6
    }
    .responsive-common .footer-list .tc {
        padding-left: 22px;
        text-align: left
    }
    .responsive-common .footer-vip i {
        margin-left: 0;
        margin-right: 41px
    }
    .responsive-common .footer-vip .footer-vip-ico07 {
        margin-right: 0
    }
    .responsive-common .footer-infor-link {
        line-height: 24px;
        background-color: #fcfcfc;
        color: #116fa6
    }
    .responsive-common .footer-infor-link a {
        font-size: 14px;
        color: #116fa6
    }
    .responsive-common .footer-infor-link a:hover {
        color: #f10180
    }
    .responsive-common .footer-infor-txt {
        width: 420px;
        margin: 14px auto
    }
    .responsive-common .footer-img {
        display: none
    }
}

@media screen and (max-width: 767px) {
    .responsive-common .footer-list {
        display: none
    }
    .responsive-common .footer-ft {
        display: none
    }
}

@media screen and (min-width: 980px)and (max-width:1000px) {
    .responsive-common .footer-list dt {
        font-size: 15px;
        color: #4d4d4d
    }
    .responsive-common .footer-list dd {
        background: 0 0;
        padding-left: 0;
        line-height: 24px
    }
    .responsive-common .footer-list a {
        font-size: 14px;
        color: #116fa6
    }
    .responsive-common .footer-vip i {
        margin-left: 14%
    }
    .responsive-common .footer-vip .footer-vip-ico07 {
        margin-right: 0
    }
}

@media screen and (min-width: 768px)and (max-width:978px) {
    .responsive-common .footer-inner {
        width: 712px
    }
    .responsive-common .footer-pic {
        width: 768px
    }
    .responsive-common .footer-pic i {
        margin-right: 0
    }
}

@media screen and (min-width: 600px)and (max-width:767px) {
    .responsive-common .footer-inner {
        width: 540px
    }
    .responsive-common .footer-vip i {
        margin-right: 13px
    }
    .responsive-common .footer-vip .footer-vip-ico07 {
        margin-right: 0
    }
    .responsive-common .footer-infor-link {
        margin-top: 16px
    }
    .responsive-common .footer-infor-link a {
        font-size: 13px
    }
    .responsive-common .footer-ft,
    .responsive-common .footer-list {
        display: none
    }
}

@media screen and (max-width: 599px) {
    .responsive-common .footer-inner {
        width: 480px
    }
    .responsive-common .footer-vip i {
        margin-left: 2px;
        margin-right: 13px;
        width: 55px
    }
    .responsive-common .footer-vip .footer-vip-ico07 {
        margin-right: 0
    }
    .responsive-common .footer-vip-ico01,
    .responsive-common .footer-vip-ico02,
    .responsive-common .footer-vip-ico03,
    .responsive-common .footer-vip-ico04,
    .responsive-common .footer-vip-ico05,
    .responsive-common .footer-vip-ico06,
    .responsive-common .footer-vip-ico07 {
        background-size: 800px auto
    }
    .responsive-common .footer-vip-ico01 {
        background-position: -8px -8px
    }
    .responsive-common .footer-vip-ico02 {
        background-position: -124px -8px
    }
    .responsive-common .footer-vip-ico03 {
        background-position: -246px -8px
    }
    .responsive-common .footer-vip-ico04 {
        background-position: -369px -8px
    }
    .responsive-common .footer-vip-ico05 {
        background-position: -492px -8px
    }
    .responsive-common .footer-vip-ico06 {
        background-position: -615px -8px
    }
    .responsive-common .footer-vip-ico07 {
        background-position: -738px -8px
    }
    .responsive-common .footer-infor-link a {
        font-size: 13px
    }
}

.M_qrcode {
    position: fixed;
    width: 140px;
    height: 270px;
    left: 50%;
    top: 50%;
    margin: -185px 0 0 -650px;
    display: none
}

.ue_survey {
    position: fixed;
    right: 56px;
    bottom: 0;
    width: 35px;
    height: 110px;
    overflow: hidden
}

.ue_survey a {
    display: block
}